/*-- scss:defaults --*/
strong {
    color: #A020F0;
}
em {
    color: #A020F0;
}
#structure
{
    color: #3250A8;
    font-weight: bold;
}
$body-bg: #f2f3f8 !default;

$presentation-font-size-root: 35px;

$presentation-h1-font-size: 1.6em;

#evensmaller
{
    font-size: 6pt;
}
