/*-- scss:defaults --*/

$body-bg: #f2f3f8 !default;

$presentation-font-size-root: 35px;

$presentation-h1-font-size: 1.6em;



/*-- scss:rules --*/

strong {
    color: #A020F0;
}
em {
    color: #A020F0;
}
#structure
{
    color: #3250A8;
    font-weight: bold;
}

#small22
{
    font-size: 22pt;
}

#bitsmaller
{
    font-size: 20pt;
}

#small18
{
    font-size: 18pt;
}

#small16
{
    font-size: 16pt;
}

#small12
{
    font-size: 12pt;
}

#small6
{
    font-size: 6pt;
}

.reveal pre code {
    font-size: 18pt;
    background-color: #aef5c9;
}

