/*-- scss:defaults --*/
strong {
    color: #A020F0;
}
em {
    color: #A020F0;
}
#structure
{
    color: #3250A8;
    font-weight: bold;
}
$body-bg: #f2f3f8 !default;

$presentation-font-size-root: 35px;

$presentation-h1-font-size: 1.6em;

#bitsmaller
{
    font-size: 20pt;
}

#small16
{
    font-size: 16pt;
}

#small12
{
    font-size: 12pt;
}

#small6
{
    font-size: 6pt;
}
